.carouselContainer {
    width: 100%;
    height: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5%;
}

.carouselHeaderContainer {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselHeader {
    width: 83.33%;
}

.carouselHeader > div {
    padding-top: 5%;
}

.carouselDescContainer {
    overflow: auto;
    height: 350px;
}

.slide-container {
    height: 455px;
    width: 65%;
}

.each-fade {
    width: 100%;
    height: 455px;
}

.image-container {
    width: 100%;
    height: 455px;
}

.image-container > img {
    width: 100%;
    height: 455px;
}

