.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 220, 221, 1);
}

.footer > h5 {
    opacity: 25%;
}