.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.jumbo {
  /*
  background-image: url("../src/Components/Jumbo/assets/img/pic1.png");
  background-size: 100% 100%;
  */
  border-radius: 0 !important;
}